<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>EazyBus</h3>
              <p class="pb-3"><em>Travel with ease, book the breeze</em>
              </p>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> eazybushelp@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/faqs">FAQs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>


          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Subscribe to our Newsletter and get exclusive discounts </p>
            <form onsubmit="return subscribeClick(event)" id="subscribe_form">
              <input required autocomplete="off" type="email" name="email"><input type="submit" value="Subscribe">
            </form>
            <div style="margin-top: 2rem;">
              <h4>We Accept</h4>
              <div >
                <img width="40px" src="https://img.icons8.com/color-glass/48/000000/visa.png" alt="visa"/>
                <img width="40px" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" alt="mastercard-logo"/>
                <img width="40px" src="https://img.icons8.com/color/48/000000/maestro.png" alt="maestro"/>
                <img width="35px" src="https://img.icons8.com/color/48/000000/american-express-squared.png" alt="american-express-squared"/>
                <img width="40px" src="https://img.icons8.com/color/48/000000/diners-club.png" alt="diners-club"/>
                <img width="40px" src="https://img.icons8.com/color/48/000000/discover.png" alt="discover"/>
             </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <span id="year"></span> <strong><span>eazybus</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->

