<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EazyBus</title>
    <link href="assets/img/favicon.png" rel="icon">
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ea55f06b5.js" crossorigin="anonymous"></script>

  </head>
  <style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gif {
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
    margin: 3rem 0;
}

.content .main-heading {
    font-size: 2.5rem;
    font-weight: 700;
}

p {
    font-size: 1.3rem;
    padding: 0.7rem 0;
}

button {
    padding: 1rem;
    border-radius: 15px;
    outline: none;
    border: none;
    background: #0d12fc;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

  </style>
  <body>
    <div style="margin-top: 2rem;" class="container">
      <div class="gif">
        <img width="350" height="350" src="https://i.ibb.co/PzK1XZ3/404.jpg" alt="404.jpg" />
      </div>
      <div class="content">
        <h1 class="main-heading">This page is gone.</h1>
        <p style="margin-bottom: 3rem;">
          ...maybe the page you're looking for is not found or never existed.
        </p>
        <a href="/">
          <button><i class="fa-solid fa-arrow-left"></i> Back to home</button>
        </a>
      </div>
    </div>
  </body>
</html>