<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>EazyBus</title>
    <meta name="theme-color" content="#010483">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="assets/css/book.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header style="background-color: #01036f;" id="header"
        class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="/"><img style="margin-bottom: 0.5rem;" width="37px" src="assets/img/favicon.png"
                            alt="logo"><span>EazyBus</span></a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Home</a></li>
                    <li class="dropdown"><a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/bookings">Trips<i class="fa-solid fa-suitcase-rolling"></i></a></li>
                            <li><a href="/profile">Profile<i class="fa-solid fa-user"></i></a></li>
                            <li><a href="/wallet">Wallet<i class="fa-solid fa-wallet"></i></a></li>
                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->



    <!-- START #main -->
    <main style="margin-right: 2rem;" id="main">
        <section style=" margin-left: 1.5rem;">
                <div style="margin-top: 4rem;" class="section-title text-center">
                    <p>TERMS OF SERVICE</p>
                </div>
                <div style="margin-bottom: 1rem;">
                    <span style="float: left;"><i class="fa fa-clock-o"
                            style="font-size:14px; margin-right: 6px;"></i>Last updated : 21-05-2023</span>
                </div>
                <br>
                <div>
                    These terms of service govern your use of the <strong>EazyBus</strong> and the services provided
                therein. By accessing or using the Website, you agree to be bound by these Terms. If you do not agree to
                these Terms, please refrain from using the Website.
                </div>
                <ul>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Booking and Reservation</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                By booking a bus ticket through the Website, you acknowledge and accept the terms and
                                conditions set forth by the EazyBus.
                            </li>
                            <li style="margin-bottom: 3px;">
                                The booking process requires providing accurate information, including passenger details
                                and travel preferences.
                            </li>
                            <li style="margin-bottom: 3px;">
                                All bookings are subject to availability and may depend on factors such as seat
                                capacity, bus schedules, and demand.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Payment for the bus ticket can be made through the accepted payment methods specified on
                                the Website.
                            </li>
                        </ol>
                    </li>

                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Fare Information</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                The fares displayed on the Website include the base price, taxes, fees, and any
                                applicable additional charges.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Fare prices are subject to change without prior notice and may vary depending on factors
                                such as EazyBus policies, routes, and demand.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Payment and Refunds</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                The Website accepts various payment methods, which are clearly specified during the
                                booking process.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Refunds for cancellations or modifications to bookings are subject to the EazyBus 's
                                refund policy and any applicable charges or penalties.
                            </li>
                            <li style="margin-bottom: 3px;">
                                The refund process will be initiated as per the terms and conditions set by the EazyBus
                                , and the time required for refunds may vary.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">User Responsibilities</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                Users are responsible for providing accurate and up-to-date information during the
                                booking process.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Users must comply with the rules and regulations of the EazyBus , including any
                                luggage restrictions or behavioral guidelines.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Users are expected to behave appropriately during the journey and respect the rights and
                                comfort of fellow passengers.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Website Content and Accuracy</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                The Website strives to provide accurate and up-to-date information; however, errors or
                                discrepancies may occur.
                            </li>
                            <li style="margin-bottom: 3px;">
                                The EazyBus reserves the right to modify, update, or remove any content without
                                prior notice.
                            </li>
                        </ol>
                    </li>

                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">User Accounts</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                Creation of a user account may be required to access certain features or services on the
                                Website.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Users are responsible for maintaining the confidentiality of their account information
                                and are liable for any activities performed under their account.
                            </li>
                        </ol>
                    </li>

                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Privacy and Data Protection</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                The collection, use, storage, and protection of user data are governed by the EazyBus's
                                Privacy Policy, which should be read in conjunction with these Terms.
                            </li>
                            <li style="margin-bottom: 3px;">
                                The EazyBus  is committed to complying with applicable data protection laws and takes
                                reasonable measures to secure user information.
                            </li>
                        </ol>
                    </li>

                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Intellectual Property</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                All content on the Website, including text, graphics, logos, and trademarks, are the
                                property of their respective owners.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Users must not reproduce, modify, distribute, or use any content from the Website
                                without obtaining proper authorization.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Limitations of Liability</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                The EazyBus and its affiliates shall not be held liable for any direct, indirect,
                                incidental, or consequential damages arising from the use or inability to use the
                                Website or the bus services.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Users agree to use the Website and its services at their own risk.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Termination</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                The EazyBus reserves the right to terminate or suspend user accounts or access to the
                                Website at its discretion and without prior notice. </li>
                            <li style="margin-bottom: 3px;">
                                Termination may occur due to violation of these Terms, fraudulent activities, misuse of
                                the Website, or any other reasons deemed necessary by the EazyBus . </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Governing Law and Jurisdiction</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                These Terms and any disputes arising from the use of the Website shall be governed by
                                and construed in accordance with the laws of Indian Jurisdiction.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Any legal actions or proceedings relating to these Terms shall be initiated in the
                                courts of Indian Jurisdiction, and users consent to the exclusive jurisdiction and venue
                                of such courts.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Modifications to Terms</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                The EazyBus reserves the right to modify or update these Terms at any time without prior
                                notice.
                            </li>
                            <li style="margin-bottom: 3px;">
                                Users are encouraged to review the Terms periodically to stay informed about any
                                changes.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Entire Agreement</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                These Terms constitute the entire agreement between the users and the EazyBus ,
                                superseding any prior agreements, understandings, or representations.
                            </li>
                        </ol>
                    </li>
                    <li style="margin-top: 2rem;">
                        <h4 style="color: #01036f;">Contact Information</h4>
                        <ol>
                            <li style="margin-bottom: 3px;">
                                For any questions, concerns, or inquiries regarding these Terms or the Website, users
                                can contact us at <a href="mailto:eazybushelp@gmail.com">eazybushelp@gmail.com</a>.
                            </li>

                        </ol>
                    </li>
                    <!-- end -->
                </ul>
                <span style="font-weight: 600;">
                    By using the Website, you acknowledge that you have read, understood, and agreed to abide by these Terms. If you do not agree with any part of these Terms, please refrain from using the Website.
                </span>
            </div>
        </section>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include("partials/footer"); -%>
        <!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>
        <div id="preloader"></div>

        <!-- Vendor JS Files -->

        <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/3ea55f06b5.js" crossorigin="anonymous"></script>
        <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>
        <script>
            $(document).ready(function () {
                $("#exampleModal").modal();
            });
            function subscribeClick(e) {
                e.preventDefault();
                document.getElementById("subscribe_form").reset();
                Swal.fire(
                    'Hurray! Subscribed!',
                    '',
                    'success'
                )
                return false;
            }
            const d = new Date();
            let year = d.getFullYear();
            document.getElementById("year").innerHTML = year;
        </script>


</body>

</html>